body{
    font-size: 1.125rem;
    font-family: system-ui;
    margin: 0;
    margin-top: 0;
    background-color:wheat;
    
}

header{
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    color: wheat;
    text-transform: uppercase;
    margin-bottom: 4rem;
    
}

.container{
    background-color: wheat;
    width: 31.2rem;
    max-width: 1000px;
    margin: 0 auto ;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 31rem;
    height: 31rem;
    margin-left: 42.6rem;
}

.description{
    width: 31rem;
    height: 6rem;
    margin: 0 auto;
    border-style:ridge;
    border-color: white;
}

.ingredient{
    text-align: center;
    text-decoration: underline;
}

.directions{
    text-align: center;
    text-decoration: underline;
}

.dumplings{
    text-align: center;
    text-decoration: underline;

}


ul{
    background-color: wheat;
    padding: 50px;
    padding-left: 60px;
    list-style-position: inside;
}

.optional{
    text-decoration: underline;
    text-transform: uppercase;

}

ol{
    background-color: wheat;
    padding: 50px;
    padding-left: 60px;
    list-style-position: inside;    
}
